h1{ 
 color:black; 
 font-size:56px
}
h2{
 color:black;
 font-size:40px
}
body { 
 background-color:azure;
 text-align:center
}
p { 
 color:black; 
}                                                        
.box1{
      color:red;
      width:90%;
      font-family:"STKAITI";
      border-radius:10px;
      border-top:5px #fcedb9 dotted;
      border-bottom:5px #fcedb9 dotted;
      border-left:5px #fcedb9 double;
      border-right:5px #fcedb9 double;
      border-radius:10px;
      margin:5px 30px;
}
.box2{
      color:red;
      width:90%;
      font-family:"STKAITI";
      border-radius:10px;
      border-top:5px #fcedb9 double;
      border-bottom:5px #fcedb9 double;
      border-left:5px #fcedb9 double;
      border-right:5px #fcedb9 double;
      border-radius:10px;
      margin:5px 30px
}
.box3{
      color:blue;
      width:90%;
      font-family:"STKAITI";
      border-radius:0px;
      border-top:5px #fcedb7 dotted;
      border-bottom:5px #fcedb7 dotted;
      border-left:5px #fcedb7 dotted;
      border-right:5px #fcedb7 dotted;
      border-radius:0px;
      margin:5px 30px
}
